<div ng-controller="EditController as edit">

  <div>
    <!-- TODO Ceci est un indicateur de chargement.
    L'afficher tant que la tâche n'est pas revenue du serveur -->
    Loading task…
  </div>
  <!-- TODO n'afficher ce formulaire que lorsque les données sont chargée depuis le serveur -->
  <form class="form-horizontal" novalidate>

    <!-- TODO cette div n'a d'intérêt que lors d'une modification (elle permet de supprimer).
         Ne pas l'afficher dans un cas de création -->
    <div class="pull-right">
      <!-- TODO Si l'utilisateur clique ici, supprimer la tâche. -->
      <a class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </a>
    </div>
    <h1><!-- TODO binder le titre. Tester sur une nouvelle tâche. --></h1>

    <div class="form-group">
      <label for="task-title" class="col-sm-2 control-label">Title</label>

      <div class="col-sm-10">
        <!-- TODO Binder cet input au titre de la tâche -->
        <!-- TODO le titre est obligatoire. -->
        <input type="text"
               class="form-control"
               id="task-title"
               placeholder="Task title"/>
        <!-- TODO afficher une erreur si le titre n'est pas présent -->
      </div>
    </div>

    <div class="form-group">
      <label for="task-description" class="col-sm-2 control-label">Description</label>

      <div class="col-sm-10">
        <!-- TODO Binder cette zone texte à la description de la tâche -->
        <textarea class="form-control"
                  id="task-description"
                  placeholder="Description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="duration" class="col-sm-2 control-label">Duration</label>

      <div class="col-sm-10">
        <div class="input-group">
          <!-- TODO Binder cet input à la durée de la tâche -->
          <!-- TODO la durée est obligatoire. -->
          <!-- TODO la durée minimum est de 1 minute. -->
          <input type="number"
                 class="form-control"
                 id="duration"
                 placeholder="Duration in minutes"/>
          <span class="input-group-addon">min</span>
        </div>
        <p class="help-block">
          <!-- TODO Si on dépasse les 60 minutes, afficher ici la traduction en heures / jours, ... -->
        </p>
        <!-- TODO afficher une erreur si la durée n'est pas définie -->
        <!-- TODO afficher une erreur si la durée est trop courte -->
      </div>
    </div>

    <div class="form-group">
      <label for="plannedFor" class="col-sm-2 control-label">Planned For</label>

      <div class="col-sm-10">
        <div class="input-group">
          <!-- TODO Binder cet input à la date de la tâche -->
          <!-- TODO la date est obligatoire. -->
          <input type="date"
                 class="form-control"
                 id="plannedFor"
                 placeholder="Due date (YYYY-MM-DD)"/>
          <span class="input-group-addon">YYYY-MM-DD</span>
        </div>
        <p class="help-block btn-group">
          <!-- TODO proposer des boutons rapides: Aujourd'hui, Demain, Semaine Prochaine, Mois Prochain -->
        </p>
        <!-- TODO afficher une erreur si la date n'est pas définie -->
        <!-- TODO afficher une erreur si le format de date est invalide -->
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-push-2 col-sm-10">
        <!-- TODO Afficher une erreur dans cette div si la sauvegarde échoue -->
        <div class="alert alert-danger"></div>

        <!-- TODO Sauvegarder -->
        <button class="btn btn-primary">
          <span class="glyphicon glyphicon-save"></span>
          <span ng-if="!edit.task.id">Create</span>
          <span ng-if="edit.task.id">Save</span>
        </button>
        <!-- TODO Que faire lors d'un Cancel ? -->
        <a class="btn btn-link">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </a>
      </div>
    </div>
  </form>
</div>
